body {
  background-color: #202b3b;
  color: white;
  font-family: "Rubik", sans-serif;
}

.weather-app {
  background-color: #0a131e;
  max-width: 700px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 5px 20px 50px rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.search-form-input {
  background-color: #202b3b;
  color: white;
  border: none;
  width: 80%;
  padding: 15px 20px;
  border-radius: 6px;
  font-size: 16px;
}

.search-form-button {
  background-color: #202b3b;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
  font-size: 16px;
  margin-left: 5px;
}
